@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
}

body {
  width: 94%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  vertical-align:bottom;
}

h2 {
  font-size: 2.0rem;
}



h2 {
  letter-spacing: 0.2rem
}
h3, h4 {
  letter-spacing: 0.1rem
}

.content-title {
  margin-bottom: 9px;
  position: relative;
  z-index: 3
}

.content-title:before,
.content-title:after {
  content: '';
  width: 30%;
  height: 2px;
  background: #000;
  position: absolute;
  display: inline-block;
  z-index:-1;
  opacity: .8;
}

.content-title:before {
  top: 65%;
  left: 0;
}

.content-title:after {
  top: 65%;
  right: 0;
}

  /* -----------
  ハンバーガーメニュー
  ------------ */

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 110;
    background-color: #222;
    border-radius: 3px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 23px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: all 300ms 0s ease;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}


/* --------
slick 
--------*/


/* --------
シェアボタン
--------*/
.sns-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  /* vertical-align: bottom; */
}

.sns-btn div {
  margin-right: 20px;
}

.fb_iframe_widget > span {
	vertical-align: baseline !important;
}

/* --------
上へボタン
--------*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #000;
  text-decoration: none;
  color: #fff;
  width: 40px;
  padding: 10px 8px 14px;
  text-align: center;
  display: block;
  border-radius: 5%;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

/* --------
header 
--------*/

#header {
  max-width: 1020px;
  padding-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}


.site-title {
  width: 90px;
}

.mainnav {
  display: none;
  color: #333;
}

.mainnav a {
  color: #333;
}

.subnav {
  margin: 0 auto;

}

.subnav .flex-items {
  display: flex;
}

.subnav .flex-items li{
  width: 24px;
  height: 24px;
  margin-right: 40px;
}

.modal {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  position: fixed;
  background:rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 100;
  padding-top: 30px;
  color: #fff;
  font-size: 2.0rem;
  padding: 20px;
}

.modal li {
  margin-bottom: 10px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}


/* --------
pickup
--------*/

#pickup {
  margin-bottom: 45px;
  text-align: center;
}

#pickup .slide-show {
  height: 55vh;
}

#pickup .slide-show img {
  height: 55vh;
  object-fit: cover;
}


/* --------
boxes 
--------*/
.boxes h2 {
  text-align: center;
}

.boxes li {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

.boxes li img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.boxes li img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.boxes .text {
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  height: 20%;
  width: 100%;
  bottom: 0%;
  color: #eee;
  padding-top: 5px;
  padding-left: 5px;
}

.boxes .text p {
  opacity: 0.8
}

h2 {
  text-align: center;
}

/* --------
news 
--------*/
#news, #ranking {
  margin-bottom: 45px;
}
/* --------
ranking
--------*/

/* --------
blog
--------*/
#blog {
  margin-bottom: 45px;
}

#blog > .flex-items {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

#blog > .flex-items li{
  width: 100%;
}

#blog a {
  display: block;
  width: 100%;
}

#blog > .flex-items .flex-items {
  display: flex;
  margin-bottom: 15px;
  height: auto;
  overflow: hidden;
}

#blog .flex-items img {
  width: 40%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#blog .flex-items img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#blog  .info {
  width: 60%;
  background: #333;
  color: #eee;
  padding: 30px;
  z-index: 20;
}


#blog li .info .author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#blog li .info .author img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

/* --------
items
--------*/

#items {
  display: none;
}

/* --------
footer
--------*/

#footer {
  background:#555;
  text-align: center;
  color: #eee;
}

#footer a{
  color: #fff;
}

#footer a > .flex-items{
  margin-left: 20px;
}

#footer h2 {
  padding-top: 15px;
  margin-bottom: 15px;
}

#footer a li {
  display: flex;
  margin-right: 20px;
  margin-bottom: 15px;
}

#footer li:last-child {
  display: flex;
  margin-right: 0px;
  margin-bottom: 15px;
}

#footer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (min-width: 768px) {

  .mainnav {
    display: block;
  }

  .content-title:before,
.content-title:after {
  width: 40%;
}
  /*--------
  dropdown 
  ------ */
  .dropmenu{
    list-style-type: none;
    width: 400px;
    margin: auto;
    padding: 0;
  }
  .dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
  }
  .dropmenu:after{
    clear: both;
  }

  .dropmenu li{
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .dropmenu li a{
    display: block;
    margin: 0;
    /* padding: 15px 0 11px; */
    background: #fff;
    color: #333;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
  }
  .dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 0;
  }
  .dropmenu li ul li{
    width: 100%;
  }
  .dropmenu li ul li a{
    padding: 13px 15px;
    border-top: 1px solid #333;
    background: #fff;
    text-align: center;
  }
  .dropmenu li:hover > a{
    background: #fff;
  }
  .dropmenu li a:hover{
    background: #fff;
  }

  #fade-in li ul{
    visibility: hidden;
    opacity: 0;
    transition: 0s;
  }
  #fade-in li:hover ul{
    visibility: visible;
    opacity: 1;
  }
  #fade-in li ul li a{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }
  #fade-in li:hover ul li a{
    visibility: visible;
    opacity: 1;
  }

  .subnav {
    margin: 0;
    margin-left: auto;
  }

  .subnav .flex-items li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 50px;
  }
  
  /*--------
  boxes
   ------ */
  .boxes > .flex-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }

  .boxes > .flex-items li {
    width: 49%;
  }

    /*--------
    blog
    ------ */
    #blog {
      margin-bottom: 60px;
    }

    

    #blog > .flex-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    #blog > .flex-items li{
      width: 49%;
    }

    /*--------
    footer
    ------ */
    #footer .flex-items{
      display: flex;
      justify-content: center;
    }


    /*--------
    boxes
    ------ */

    /*--------
    boxes
    ------ */

    /*--------
    boxes
    ------ */
  
}

@media (min-width: 1025px) {

  body {
    width: 1020px;
  }
  
  .flex-items {
    display: flex;
  }

  .content-title {
    font-size: 3rem;
  }

    /*--------
    ハンバーガーボタン
    ------ */
    .menu-btn {
      display: none;
    }

    /*--------
    header
    ------ */
  
  #header {
    align-items: center;
    margin-top: 20px;
    width: 1020px;
  }

  #header .site-title {
    margin: 0;
    width: 150px;
    
  }

  
  .subnav .flex-items li {
    margin-right: 0px;
    margin-left: 40px
  }

  .subnav li img {
    width: 20px;
    height: 20px;
  }



    /*--------
    pickup
    ------ */
    #pickup .slide-show {
      height: 72vh;
    }

    #pickup .slide-show img {
      height: 72vh;
      object-fit: cover;
    }

    /*--------
    boxes
    ------ */
    .boxes > .flex-items li {
      width: 32%;
    }

    /*--------
    items
    ------ */
    #items {
      display: block;
      margin-bottom: 60px;
    }

    #items h2 {
      margin-bottom: 15px;
    }

    #items img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    #items img:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    #items > .flex-items {
      justify-content: center;
    }

    #items > .flex-items .flex-items {
      align-items: center;
      margin-bottom: 20px;
    }

    #items > .flex-items .flex-items img {
      margin-right: 10px;
    }

    #items > .flex-items .flex-items p {
      font-size: 1.4rem
    }

    #items ul {
      margin-right: 90px;
    }

    #items ul:last-child {
      margin-right: 0px;
    }

    /*--------
    news
    ------ */
    /*--------
    news
    ------ */

    

}

